[[connections]]
title = "main_pg"
type = "postgres"
connection = "$PG_CONSTR"
max_open_conns = 10
max_idle_conns = 2
conn_max_lifetime = "30m"

[[notifications]]
title = "Slack Repeater"
type = "slack"
webhook_url = "$SLACK_WEBHOOK"

[[detectors]]
title = "En.wiki Pageviews"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project = 'en.wikipedia'"
output = "wiki_pageviews_outliers"
cron_schedule = "10 5 * * *"
notify_emails = [""]
plot_lookback = 90
detection_method = 'dev_from_mean'
percent = 10
avg_window = 30

[[detectors]]
title = "En.wiki Pageviews, n*Sigma"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
notify_emails = [""]
plot_lookback = 90
detection_method = 'dev_from_mean'
avg_window = 30
sigma = 3

[[detectors]]
title = "En.wiki Pageviews, Period"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
notify_emails = [""]
plot_lookback = 90
detection_method = 'dev_from_mean'
avg_window = 60
period = 7
percent = 7

[[detectors]]
title = "En.wiki Pageviews, IQR"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
cron_schedule = "15 5 * * *"
notify_emails = [""]
plot_lookback = 90
detection_method = 'iqr'
iqr_window = 60
iqr_range = 1.5

[[detectors]]
title = "En.wiki Pageviews, Threshold"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
notify_emails = [""]
plot_lookback = 90
detection_method = 'threshold'
lower = 220000000

[[detectors]]
title = "Wiki Pageviews, Projects"
connection = "main_pg"
data_sql = "select dt::timestamp as t, project as dim, views as value from wiki_pageviews"
output = "wiki_pageviews_outliers"
cron_schedule = "15 5 * * *"
plot_lookback = 90
detection_method = 'dev_from_mean'
avg_window = 30
percent = 10
