[[connections]]
title = "main_pg"
type = "postgres"
connection = "$PG_CONSTR"
max_open_conns = 10
max_idle_conns = 2
conn_max_lifetime = "30m"

[[notifications]]
title = "Slack Repeater"
type = "slack"
webhook_url = "$SLACK_WEBHOOK"

[[detectors]]
title = "Wiki Pageviews"
connection = "main_pg"
data_sql = "select dt as t, views as value from wiki_pageviews where project='en.wikipedia'"
output = "wiki_pageviews_outliers"
backsteps = 90
cron_schedule = "10 5 * * *"
notify_emails = [""]
detection_method = 'dist_from_mean'
percent = 10
avg_window = 30

[[detectors]]
title = "Wiki Pageviews Projects"
connection = "main_pg"
data_sql = "select dt::timestamp as t, project as dim, views as value from wiki_pageviews"
output = "wiki_pageviews_outliers"
backsteps = 90
detection_method = 'dist_from_mean'
percent = 20
avg_window = 30
